/*print part*/
@media print {
  @page {
    size: A4;
    margin: 10mm;
  }
  body {
    background-color: white;
    margin: 0;
    padding: 0;
    /* display: block; */
    font-size: 12pt;
  }
  .page {
    box-shadow: none;
    margin: 0;
    padding: 0;
    width: 100%;
    /* min-height: auto; */
    page-break-inside: avoid;
  }
  nav,
  .nav-links {
    display: none;
  }
  .two-column {
    display: block;
  }
  .contact-list {
    text-align: center;
    font-size: 11pt;
  }
  .contact-list span {
    display: inline;
  }
  .contact-list span:not(:last-child)::after {
    content: " | ";
    margin: 0 6px;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f2f5;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.position {
  text-align: center;
  font-size: 1.2em;
  padding-top: 15px;
}
h1 {
  text-align: center;
  font-size: 2em;
  margin-top: 0%;
  margin-bottom: 5px;
}
.two-column {
  display: flex;
  margin-top: 20px;
}
.column {
  flex: 1;
  padding: 0;
}
ul {
  list-style-type: circle;
  padding: 2px 0px 15px 15px;
}
h3 {
  margin-top: 5px;
  margin-bottom: 10px;
}
h4 {
  font-size: 1.1em;
  margin-top: 2%;
  margin-bottom: 5px;
}
p {
  letter-spacing: 0.2px;
  word-spacing: 5%;
}
a {
  color: #2e6cfb;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: darkblue;
  text-decoration: underline;
}
@media (max-width: 768px) {
  .nav-links ul {
    list-style: none;
    padding: 15px 15px;
  }
  .nav-links a {
    color: #2e6cfb;
    font-weight: bold;
    text-decoration: none;
  }
  .nav-links a:hover {
    color: darkblue;
    text-decoration: underline;
  }
  body {
    padding: 20px;
    font-size: 14px;
  }
  main .page {
    display: block;
    flex-direction: column;
  }

  .contact-list {
    display: block;
    flex-direction: column;
  }
  .contact-list span {
    display: block;
    flex-direction: column;
    margin-bottom: 15px;
  }
}
@media (min-width: 769px) {
  .nav-links {
    display: none;
  }
  section {
    display: block;
  }
  .contact-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .contact-list span {
    display: inline;
    align-items: center;
  }
  .contact-list span:not(:last-child)::after {
    content: " | ";
    margin: 0 6px;
  }
}
